@media (max-width:1439px){
    .container{
        max-width: 960px;
    }
    .sidepanel{
        display: none;
    }
}



@media (max-width:1200px){
    .container{
        max-width: 960px;
    }
    .about{
        &__wrapper{
            grid-template-columns: 400px 520px;
            column-gap:40px;
        }
        &__skills{
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            &-item{
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: repeat(2, 380px);
            column-gap: 100px;
        }
    }
    .skills{
        &__wrapper{
           
            grid-template-columns: repeat(3, auto);
            justify-items: center;
        }
    }
    .progress{
        &__wrapper{
            grid-template-columns: repeat(2, auto);
            justify-items: center;
        }
    }
    .portfolio{
        &__wrapper{
            grid-template-columns: repeat(auto-fit,280px );
            grid-auto-rows:280px;
            justify-content: space-between;
            row-gap: 35px;
            .horizonal, .vertical{
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts{
        &__descr{
            padding-left: 9px;
        }
        &__wrapper{
            grid-template-columns: 400px 570px;
            padding: unset;
        }
        &__triggers{
            margin-top: 9px;
        }
        &__title{
            margin-top: -3px;
        }
    }
    
}

@media (max-width:992px){
    .container{
        max-width: 720px;
    }
    .title{
        &_fz36{
            font-size: 30px;
        }
    }
    .about{
        &__wrapper{
            grid-template-columns: 300px 380px;
            
        }
        &__skills{
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px, auto);
            &-item{
                grid-template-columns:40px 320px;
                column-gap:20px;
            }
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: repeat(2, 327px);
            column-gap: 5px;
        }
    }
    .skills{
        &__wrapper{
           
            grid-template-columns: repeat(2, auto);
        
        }
    }
    .price{
        &__item-right{
            margin-right: unset;
        }
        &__item-left{
            margin-left: unset;
        }
    }
    .contacts{
        &__triggers{
            margin-top: 9px;
        }
    }
    .contacts{
        &__wrapper{
            grid-template-columns: 0 1fr;
        }
    }
}

@media (max-width:768px){
    .container{
        max-width: 540px;
    }
    .title{
        
        &_fz48{
            font-size: 28px;
        }
    }
    .promo{
        &__title{
            line-height: 39px;
            width: 300px;

        }
    }
    .about{
        padding-top: 40px;
        &__wrapper{
            grid-template: 400px auto auto /1fr;
        }
        &__photo{
            grid-row:unset;
        }
        &__skills{
            grid-template-columns: repeat(2,260px);
            &-item{
                grid-template-columns:40px 200px;
                column-gap:20px;
            }
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: 1fr;       
        }
        &__column{
            &:last-child{
                margin-top: 40px;
            }
        }
    }
    .progress{
        &__wrapper{
            grid-template-columns: repeat(1, auto);
           
        }
       
    }
    .skills{
        &__wrapper{
           
            grid-template-columns: repeat(1, auto);
        
        }

    }
    .portfolio{
        padding-top: 40px;
        &__wrapper{
            justify-content: center;
        }
    }
    .price{
        padding-top: 40px;
        &__wrapper{
            margin-top: 20px;
            flex-direction: column;
        }
        &__item-right{
           margin: 0 auto;
        }
        &__item-left{
           margin: 0 auto;
        }
    }
    .contacts{
        &__form{
            grid-template: 45px 190px 45px/repeat(2, 250px);
        }
    }

}

@media (max-width:576px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .title{
        
        &_fz48{
            font-size: 26px;
        }
        &_fz36{
            font-size: 24px;
        }
    }
    .hamburger{
        right: 20px;
    }
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
        }
        &__social{
            bottom: 50px;
        }
    }
    .promo{
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns{
            margin-top: 30px;
        }
    }
    .about{
        &__wrapper{
            grid-template: 340px auto auto /1fr;
        }
        &__skills{
            grid-template-columns: 1fr;
        }
    }
    .resume{
        padding-top: 40px;
        &__wrapper{
        padding: unset;
        margin-top: 40px;
        }
    }
    .progress{
        &__item{
            width: 100%;
        }
        &__wrapper{
            margin-top: -50px;
        }
    }
    .skills{
        &__wrapper{
            margin-top: 20px;
            grid-template-columns: repeat(1, auto);
        }
        &__subtitle{
            line-height: 36px;
        }
    }
    .price{
        &__block{
            width: 300px;
        }
      &__work{
          margin-left: 20px;
      }
      &__descr{
          margin-left: 20px;
      }
    }
    .contacts {
        padding-top: 46px;
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }

}