.price{
    padding-top: 66px;
    &__title{
        position: relative;
        @include before_circle;
        text-align: center;
        &::before{
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__wrapper{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__block{
        width: 320px;
        
        margin-top: 15px;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__work{
        
        position: relative;
        &::before{
            position: absolute;
            content: '';
            width: 15px;
            height: 15px;
            background: $main-color;
            border-radius: 100%;
            left: -25px;
            top: 3px
           
        }
    }
    &__descr{
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    &__item-right{
        margin-right: 50px;
    }
    &__item-left{
        margin-left: 50px;
    }
}